@media screen and (max-device-width: 850px) {
    header {
        justify-content: center;
        flex-direction: column;
    }
    header .header-title {
        width: 250px;
        margin: 10px 0 0 0 ;
    }

    header > nav > ul {
        padding: 0;
        margin: 0 0 2em 0;
    }

    header > nav > ul > li {
        margin-right: 12px;
    }
    
    main .subtitle-container {
        width: 90%;
    }

    main .subtitle-container .subtitle {
        margin: 0.5em 0 0.5em 0;
        font-size: 32px;
    }

    main .cards-container {
        width: 90%;
        align-items: center;
        margin-bottom: 1em;
    }

    main .cards-container .container {
        width: 90%;
        margin: 15px 0 15px 0
    }

    .container .container__image {
        height: 75%;
        width: 100%;
    }

    footer .footer-container {
        width: 80%;
        justify-content: center;
        flex-direction: column;
    }

    footer .footer-container .footer-title {
        width: 325px;
        margin: 1em 1em 0 1em;
    }

    footer .footer-container > nav > ul {
        padding: 0;
        margin: 0 0 1.5em 0;
    }

    footer .footer-container > nav > ul > li {
        margin-right: 12px;
    }
}