html {
    height: 100vh;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: cadetblue;
    box-shadow: 0 5px 0 black;
}

header #header-logo {
    height: 10vh;
    margin-left: 1vw;
    scale: 1;
    transition: scale .2s ease-in-out;
}

header #header-logo:hover {
    scale: 1.1;
}

header #header-title {
    margin-left: 1vw;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 0 black;
}

header #header-title:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

main #sneakers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
}

main #sneakers-container .sneaker-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 20%;
    margin: 1%;
    background: cadetblue;
    padding: 1%;
    scale: 1;
    transition: scale .2s ease-in-out;
    box-shadow: 5px 5px 0 black;
}

main #sneakers-container .sneaker-card:hover {
    scale: 1.05;
}

.sneaker-card .card-image {
    width: 100%;
    box-shadow: 5px 5px 0 black;
}

.sneaker-card .card-name {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-shadow: 2px 2px 0 black;
}

.sneaker-card .card-price {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-shadow: 2px 2px 0 black;
}

.sneaker-card .card-button {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    width: 100%;
    padding: 5% 0 5% 0%;
    border-radius: 0;
    border-width: 0;
    rotate: 0;
    transition: background 0.2s ease-in-out, rotate 0.2s ease-in-out;
    box-shadow: 5px 5px 0 black;
}

.sneaker-card .card-button:hover {
    color: white;
    background: gray;
    rotate: -1deg;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    background: cadetblue;
    box-shadow: 0 -5px 0 black;
}

footer #footer-link {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-shadow: 2px 2px 0 black;
    rotate: 0;
    padding: 1%;
    transition: rotate 0.3s ease-in-out;
}

footer #footer-link:hover {
    rotate: 360deg
}